*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header {
    color: rgb(3, 121, 224);
 
     align-items: center;
 justify-content: space-around;
 margin: 50px;
 
 }
 
 
 header .container {
     display: flex;
     align-items: center;
     justify-content: space-between;  

 }
 nav ul {
     list-style: none;
     display: flex;
     align-items: center;
     padding: 30px;
     gap: 50px;
 }
 
 nav ul li a {
     text-decoration: none;
     color: white;
     font-size: 30px;
     font-weight: 900;
   
 
 }
 body{
    background-color: black;
 }
 .btn1{
    width: 125px;
height: 56px;
padding-top: 16px;
padding-right: 20px;
padding-bottom: 16px;
padding-left: 20px;
gap: 10px;
opacity: 1;
border-radius: 8px;
color: black;
background-color: #FFC800;
border: none;
font-weight: 900;
font-size: 18px;

 }
 .box{
    width: 100%;
    height: 100vh;
    position: relative;
}
.box video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.hero{
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 300px;
    text-align: center;
}
.hh1{
font-weight: 900;
font-style: Black;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin-left: 150px;
margin-bottom: 25px;

}
span{
    color: #FFC800;
}
.hp{
    font-weight: 900;
    font-style: Black;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 150px;
    margin-bottom: 100px;
    
}
.btn2{
    width: 260px;
height: 66px;
padding-top: 8px;
padding-right: 16px;
padding-bottom: 8px;
padding-left: 32px;
gap: 12px;
opacity: 1;
border-radius: 70px;
border-width: 1px;
font-weight: 900;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: white;
border: 1px solid white;
background-color: inherit;
margin-left: 100px;

}
.hero3{
    margin: 200px 0;
    display: flex;

}

.qi{
    color: white;
font-weight: 900;
font-style: Black;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
margin: 25px 0;

}
.plar{
font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: white;
margin: 20px 0;

}
.plars{
    font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: white;
margin-top: 20px;
margin-bottom: 50px;
}
.btn3{
    width: 170px;
height: 56px;
padding-top: 16px;
padding-right: 40px;
padding-bottom: 16px;
padding-left: 40px;
gap: 10px;
opacity: 1;
border-radius: 8px;
background-color: #FFC800;
border: none;
font-weight: 900;
font-size: 20px;

color: #474747;
}
.kalbash{
    margin-left: 100px;
}
.icon{

}
.card{
    width: 286px;
height: 277px;
gap: 20px;
opacity: 1;
padding: 20px;
background-color:rgb(36, 35, 35);
margin-top: 25px;

}
.pro{
    width: 29;
height: 17;
padding-top: 4px;
padding-right: 8px;
padding-bottom: 4px;
padding-left: 8px;
gap: 10px;
opacity: 1;
border-radius: 20px;
border-width: 1px;
border: 1px solid #FFBF00BD;
color: #FFBF00BD;
background-color: rgb(36, 35, 35) ;
margin-left: 200px;


}

.ch1{
    color: white;
font-weight: 900;
font-style: Black;
line-height: 100%;
letter-spacing: 0%;
margin-bottom: 25px;

}
.cp{
    color: white;
}
.otacard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}
.icons{
    gap: 10px
    ;
    font-size: 30px;
    color: grey;
}